
</div>
<div class="footer" >
  <div class="footer-padding">
    <p>copyright @2022 aditya patil</p>
  </div>
</div>

<!-- <footer>
    <p>copyright @2022 aditya patil</p>
</footer> -->
</body>
</html>